.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.block {
  text-align: left;
  font-size: large;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.about {
  text-align: left;
  font-size: large;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}

.image {
  float: left;
  border-radius: 50%;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 650px;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.heading {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {
  [class*="image"] {
    float: left;
    border-radius: 50%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 18em;
  }

  [class*="about"] {
    text-align: left;
    font-size: 11pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  [class*="block"] {
    text-align: left;
    font-size: 11pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  [class*="image"] {
    float: left;
    border-radius: 50%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 11em;
  }

  [class*="about"] {
    text-align: left;
    font-size: 11pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  [class*="block"] {
    text-align: left;
    font-size: 11pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  h1 { font-size: 16pt !important; }
  h2 { font-size: 14pt !important; }
  h3 { font-size: 12pt !important; }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  [class*="image"] {
    float: left;
    border-radius: 50%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 23em;
  }

  [class*="about"] {
    text-align: left;
    font-size: 14pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  [class*="block"] {
    text-align: left;
    font-size: 14pt;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  h1 { font-size: 20pt !important; }
  h2 { font-size: 18pt !important; }
  h3 { font-size: 16pt !important; }

}
